*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	font-size: 65%;
	box-sizing: border-box;
}

:root {
	--color-bg: #e3dcd7;
	--color-fg: black;
	--color-border: black;

	--font-sans: sans-serif;
	--font-mono: monospace;
}

header {
	position: sticky;
	top: 0;
	z-index: 100;
	font-size: 1.4rem;
	height: 6rem;
	background-color: var(--color-bg);
}

body {
	display: flex;
	flex-direction: column;
	font-family: var(--font-sans);
	font-size: 1.8em;
	font-weight: 400;
	line-height: 1.8em;
	background-image: radial-gradient(#918F90 1.1px, #E7E3E4 0);
	background-size: 6px 6px;
	color: var(--color-fg);
	padding: 0;
	margin: 0;
	min-height: 100vh;
	width: 100%;
}

footer {
	width: 100%;
	text-align: center;
	font-size: 1.6rem;
	line-height: 2rem;
	background-color: var(--color-bg);
}

.c-footer {
	align-items: center;
	margin-bottom: 0.5rem;
}

.wrapper {
	flex: 1;
	display: flex;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	justify-content: center;
}

.container {
	display: flex;
	max-width: 100rem;
	width: 100%;
	background-color: var(--color-bg);

}

.centered {
	justify-content: center;
	text-align: center;
	align-items: center;

	.home {
		ul {
			display: inline-flex;
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				margin: 0.5rem;
			}
		}
	}
}
