.nav-container {
	display: grid;
	text-transform: uppercase;
	font-size: .85rem;
	padding-block: .5rem;
	align-content: flex-start;
	height: var(--nav-container-height);
	background-color: var(--color-bg-page);
}

.nav--main {
	justify-content: center;
}

.nav-list--main {
	display: inline-flex;
	list-style: none;
	padding: 0;
	margin: 0;
}

.nav-item {
	display: flex;
	width: var(--nav-item-width);
	justify-content: center;
}

.nav-link {
	text-decoration: none;
	color: var(--color-fg);

	&:focus,
	&:hover {
		text-decoration: underline;
	}
}
